<h2> Новая задача:</h2>

<form [formGroup]="taskForm" (ngSubmit)="saveTask()">

    <mat-form-field class="display-block">
        <mat-label> Название задачи</mat-label>
        <input matInput formControlName="title" placeholder="Введите название задачи">
    </mat-form-field>

    <mat-form-field class="display-block">
        <mat-label> Описание задачи</mat-label>
        <input matInput formControlName="description" placeholder="Введите описание задачи">
    </mat-form-field>

    <mat-form-field class="display-block">
        <mat-label> Исполнитель</mat-label>
        <input matInput formControlName="assigned" placeholder="Выберите исполнителя">
    </mat-form-field>

    <div>
        <h2 >Подзадачи:</h2>
        <div #container></div>
    </div>

    <button mat-button type="submit">Создать задачу</button>
    <button mat-button type="button" (click)="createSubTask()">Создать подзадачу</button>

</form>
<div style="position: fixed; right: 0">
    {{taskForm.value | json}}
</div>
