<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" style="float: right; width: 80%">
    <app-user-info (formReady)="formInitialized('user-info', $event)"></app-user-info>

    <div class="docs-example-viewer-wrapper">

        <h1> Блок товаров для покупки</h1>

        <app-main-block style="display: block" *ngFor="let product of products">
            <p>Товар:{{product}}</p>
        </app-main-block>
    </div>
</form>
<div style="float: left; width: 20%; overflow: hidden">
{{checkoutForm.value | json}}
</div>